/**********Great weather icons from Erik Flowers**********/

@import "https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css";

/************************************
             Base Layers
*************************************/

* {
  box-sizing: border-box;
}

body:after{
  content: " ";
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(0,0,0,0.5) -10%, transparent 25%, transparent 75%, rgba(0,0,0,0.5) 110%);
  pointer-events: none;
}

.row-box {
  height: 100vh;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: solid none 1px;
  overflow: hidden;
}

.row:hover {
  display: flex;
  flex: 1.5;
  justify-content: center;
  align-content: center;
}

.row {
  display: flex;
  color: #f2f0ed;
  justify-content: space-around;
  align-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 5vw;
  transition: 1s;
}


/************************************
            Rows
*************************************/

.orange {
  background-color: #ff8c00;
}

.silver {
  background-color: #f2f0ed;
}

.silver span {
  color: #3a3133;
}

.red {
  background-color: #ff4000;
}

.coffee {
  background-color: #3a3133;
}

.blue {
  background-color: #3333ff;
}
 
.navy {
  background-color: #0000b3;
}

.navy a {
  color: white;
}


/************************************
        ``````SPANNING`````` 
*************************************/

span {
  color: #f2f0ed;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.silver span, .red span{justify-content:center;  font-size: 7.5vw;}

.silver h1{margin-left:50px;}

.wi {
  color: #3a3133;
 /* font-size: 120%;*/
}

.coffee span{font-size:3vw;}
